@use '/src/styles/variables.scss' as *;

@font-face {
  font-family: "AvenirPro-md";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf")
    format("opentype");
}

@font-face {
  font-family: "AvenirPro-regular";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "AvenirPro-bold";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Bold.otf")
    format("opentype");
}

.inner_div {
  position: relative;
  background: #0d0d0d;
  background-image: url("../../../public/fullbg.png");
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  height: 100%;
  /* max-width: 375px; */
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 78px;
  z-index: 1;
  overflow: hidden;
  align-items: center;
}

.inner_div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 0;
}

.inner_div > * {
  position: relative;
  z-index: 1;
}

.plan_div {
  border: 1px solid #9e9e9f;
  background-color: #d6d6d624;
  margin: 0 20px;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  backdrop-filter: blur(4px);
  width: 365px;
}

.upper_div {
  width: 365px;
}

.ntw_name {
  font-size: 24px;
  font-weight: 500;
  font-family: "AvenirPro-md";
}

.ntw_type {
  font-size: 16px;
  font-weight: 400;
  font-family: "AvenirPro-regular";
  color: #e5e5e5;
}

.content_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.congrats {
  font-size: 30px;
  font-weight: 600;
  font-family: "AvenirPro-demi";
  margin-top: 20px;
}

.you_are {
  font-size: 14px;
  font-family: "AvenirPro-regular";
  margin-top: 20px;
}

.leafDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.members_count {
  max-width: 160px;
  text-align: center;
}

.count {
  font-size: 24px;
  font-weight: 700;
  font-family: "AvenirPro-bold";
  letter-spacing: 2px;
}

.members {
  font-size: 14px;
  font-weight: 500;
  font-family: "AvenirPro-md";
}

.text_msg {
  font-size: 16px;
  font-style: 400px;
  text-align: center;
  font-family: "AvenirPro-regular";
  color: #cccccc;
  letter-spacing: -0.3px;
  margin-top: 20px;
}

.network_logo {
  border-radius: 50%;
  border: 1.35px solid #909090;
}

.stickyBtnWrapper {
  position: fixed;
  bottom: 0;
  left: 50%; /* center from left */
  transform: translateX(-50%); /* shift left by 50% of its own width */
  width: 100%;
  max-width: 375px;
  padding: 20px;
  z-index: 999;
}

.stickyBtn {
  width: 100%;
  background-color: #e72d38;
  color: white;
  border: none;
  border-radius: 100px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  font-family: "AvenirPro-md";
  font-weight: 500;
}

@media (max-height: 700px) {
  .content_div {
    margin-top: 45px;
  }
}

@media (max-width: 500px) {
  .inner_div {
    max-width: none;
    width: 100vw;
  }

  .stickyBtnWrapper {
    left: 0;
    transform: none;
    width: 100vw;
    max-width: none;
  }

  .inner_div {
    align-items: unset;
  }

  .plan_div {
    width: unset;
  }

  .congrats {
    font-size: 24px;
  }

  .text_msg {
    font-size: 14px;
  }

  .ntw_name{
    font-size: 20px;
  }

  .ntw_type{
    font-size: 14px;
  }
}


@media (min-width: 501px) and (max-width:$tab_size){
  .plan_div{
    margin-top: 160px;
  }
}