// DARK THEMING
$theme_bg: #0d0d0d;
$theme_red: #e72d38;
$theme_light_red: #ff2130;
$theme_light: #ffffff;
$theme_grey: #525252;
$theme_border: #909090;
$theme_shimmer_dark: #1a1d27;
$theme_shimmer_bg: #1e232d;
$theme_shimmer: #242939;
$theme_text: #fff;
$comment_likes: #e5e5e5;
$download_header: #04112b;

// DELETE USER ACCOUNT VARIABLES
$textarea_bg: #242426;
$disabled_text: #a2a2a4;
$otp_input: #363638;


$tab_size: 768px;