@font-face {
  font-family: "AvenirPro-medium";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf")
    format("opentype");
}

.container_div {
  background: #000000cc;
  height: 100%;
  /* max-width: 375px; */
  margin: auto;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
  font-family: "AvenirPro-medium";
}


.popup_logout {
  height: 200px;
  background-color: #363638;
  margin: 0 16px;
  border-radius: 18px;
}


.text {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  font-family: "AvenirPro-medium";
  /* padding: 0 25px; */
}
.buttons_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 19px;
  padding: 20px;
  margin-top: 10px;
}

.cancel_btn,
.logout_btn {
  flex: 1;
  /* padding: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  border-radius: 25.5px;
  text-align: center;
  height: 42px;
  cursor: pointer;
  font-family: "AvenirPro-medium";

}

/* Cancel button style */
.cancel_btn {
  background-color: #fff;
  border: 1px solid #fff;
  color: #e72d38;
}

/* Logout button style (example) */
.logout_btn {
  background-color: #e72d38;
  color: #fff;
  border: none;
}


@media (max-width: 500px) {
  .container_div {
    max-width: 100%;
  }
}
