.error_text {
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  /* letter-spacing: 0em; */
  text-align: center;
  margin-top: 8px;
}

.oops_text {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  /* letter-spacing: 0em; */
  text-align: center;
  color: #e72d38;
  margin-top: 20px;
  font-family: "AvenirNextLTPro-Medium";
}

.noInternetContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 375px;
  margin: 0 auto;
  background-color: #0d0d0d;
  font-family: "AvenirNextLTPro-Medium";
}


@media only screen and (max-width: 450px){
  .noInternetContainer{
    width: 100%;
  }
}