@use '/src/styles/variables.scss' as *;

@font-face {
  font-family: "AvenirPro-regular";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf")
    format("opentype");
}

.header_wrapper {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 375px;
  background-color: #0d0d0d;
  z-index: 999;
}

.menu_top {
  padding: 30px 20px 36px 20px;
  text-align: end;
}

.close_button {
  cursor: pointer;
}

/* .user_profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
  padding: 0 20px;
} */

/* .name_div {
  display: flex;
  flex-direction: column;
  font-family: "AvenirPro-regular";
}
.username {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.name {
  font-size: 14px;
  font-weight: 400;
  color: #8e8e93;
} */

.user_profile {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.dpImg {
  border-radius: 50%;
  border: 1px solid #909090;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.name_div {
  display: flex;
  flex-direction: column;
  min-width: 0; /* ⭐️ KEY FIX */
  max-width: 100%;
}

.username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  min-width: 0;
  max-width: 100%;
  color: white; /* if background is dark */
  font-size: 16px;
  font-family: "AvenirPro-regular";
  font-weight: 400;
}
.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  min-width: 0;
  max-width: 100%;
  font-size: 14px;
  color: #8e8e93;
  font-family: "AvenirPro-regular";
  font-weight: 400;
}

.menus_div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 0 10px;
}

.logout_menu {
  display: flex;
  align-items: center;
  gap: 13px;
  /* padding: 0 10px; */
  margin: 0 10px;
  width: fit-content;
  cursor: pointer;
}

.active_menu {
  background-color: #363638;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.menu_title {
  font-size: 16px;
  font-weight: 500;
  font-family: "AvenirPro-regular";
  color: #fff;
}

.disabled_menu_title {
  font-size: 16px;
  font-weight: 500;
  font-family: "AvenirPro-regular";
  color: #fff;
  opacity: 0.5;
}

.disabled_img {
  opacity: 0.5;
}

.logout_title {
  font-size: 16px;
  font-weight: 500;
  font-family: "AvenirPro-regular";
  color: #fff;
}

.border_line {
  border: 0.5px solid #999999;
  margin-bottom: 24px;
}
.logout_div {
  position: absolute;
  bottom: 30px;
  /* width: 90%; */
  width: calc(100% - 20px);
  padding-left: 20px;
}

/* .dpImg{
  border: 1px solid #909090;
  border-radius: 50%;
  object-fit: cover;
} */

@media (max-width: $tab_size) {
  .header_wrapper {
    max-width: 100%;
  }
}
