@use "../../styles/variables.scss" as *;

@font-face {
  font-family: "AvenirPro-medium";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirPro-demi";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Demi.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "AvenirPro-regular";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

.mobile{
  display: none;
}

.mainPageContent {
  padding: 0 20px;
  padding-top: 60px;
}

.mainPageDesc {
  font-size: 16px;
  font-weight: 400;
  font-family: "AvenirPro-regular";
  text-align: center;
  margin-top: 10px;
}

.top_div {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.back_button_otp {
  cursor: pointer;
}

.otpPagePhoneNumber {
  font-size: 14px;
  color: #aeaeb2;
  line-height: 21px;
  font-weight: 500;
  font-family: "AvenirPro-medium";
}

.otpInputLabel {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "AvenirPro-medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  text-align: left;
  color: $theme_text;
}

.otpInputWrapperDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  position: relative;

  div {
    justify-content: space-between;
    width: 100%;
  }

  .incorrectOtpError {
    color: #e72d38;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 110%;
    font-family: "AvenirPro-medium";
  }
}

.customInputOne {
  width: 46px !important;
  height: 46px;
  color: #000;
  background: #f7f7f7;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
}

.borderError {
  border: 1px solid #e72d38;
}

.resendOtpLinkContainer {
  margin-top: 20px;
  text-align: right;

  .resendOtpLinkTxt {
    cursor: pointer;
    color: #e72d38;
    font-family: "AvenirPro-medium";
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-decoration: underline;
  }
}

.otpTimeRemaining {
  color: $theme_text;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: right;
  margin-top: 20px;
  font-family: "AvenirPro-medium";
}

.bottom_wrapper {
  margin-top: 83px;
  // padding: 0 20px;
  // position: absolute;
  // bottom: 20px;
  // width: 100%; // Default for small screens

  // @media (min-width: 501px) {
  //   max-width: 375px;
  //   margin: 0 auto;
  //   left: 0;
  //   right: 0;
  // }
}

.instruction {
  color: #8e8e93;
  font-size: 14px;
  font-family: "AvenirPro-medium";
  padding: 0 4px;
}

.note {
  color: #e72d38;
}

.verify_btn {
  background-color: #e72d38;
  border-radius: 42px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  font-family: "AvenirPro-medium";
}

.disabled_btn {
  opacity: 0.5;
}

.enabled_btn {
  cursor: pointer;
}

.desktop_wrapper{
  // background-color: red;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop {
  max-width: 375px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  text-align: center;
  margin-bottom: 40px;
}


@media (max-width: 500px) {

  .mobile{
    display: block;
  }

  .desktop{
    display: none;
  }

  .mainPageDesc {
    font-family: "AvenirPro-medium";
    text-align: left;
  }

  .bottom_wrapper {
    padding: 0 20px;
    position: absolute;
    bottom: 20px;
    width: 100%; // Default for small screens
  }

  .resendOtpLinkContainer{
    margin-top: 25px;
  }

  .otpTimeRemaining{
    margin-top: 25px;
  }

  .desktop_wrapper{
    display: none;
  }
}
