@font-face {
  font-family: "AvenirPro-demi";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Demi.otf")
    format("opentype");
}

@font-face {
  font-family: "AvenirPro-regular";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "AvenirPro-bold";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "AvenirPro-md";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf")
    format("opentype");
}

.inner_div {
  position: relative;
  background: #0d0d0d;
  background-image: url("/planBGstatic.png"); /* ✅ use public folder root path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  max-width: 375px;
  margin: 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px 20px 80px;
  padding-top: 68px;
  z-index: 1;
}

@media (max-width: 500px) {
  .inner_div {
    max-width: 100vw; /* ✅ remove restriction */
    width: 100vw;
  }
}

.inner_div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 0;
}

.inner_div > * {
  position: relative;
  z-index: 1;
}

.plan_container {
  border: 1px solid #434343;
  border-radius: 12px;
  padding: 30px 20px;
  text-align: center;
}

.network_name {
  font-size: 20px;
  font-family: "AvenirPro-demi";
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.network_type {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  background: linear-gradient(90deg, #b77c17, #ffb81e);
  max-width: fit-content;
  padding: 5px 14px;
  border-radius: 68px;
  font-family: "AvenirPro-demi";
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}

.network_membership {
  font-size: 16px;
  font-weight: 400;
  font-family: "AvenirPro-regular";
  color: #cccccc;
  letter-spacing: 1px;
}

.numbers {
  font-family: "AvenirPro-bold";
}

.network_amount {
  font-size: 24px;
  font-family: "AvenirPro-md";
}

.benefits {
  font-size: 14px;
  font-family: "AvenirPro-regular";
  color: #cccccc;
  margin-top: 20px;
  margin-bottom: 10px;
}

.benefit {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.b_title {
  font-size: 16px;
  font-family: "AvenirPro-demi";
  font-weight: 600;
}

.b_desc {
  font-size: 12px;
  font-family: "AvenirPro-regular";
  margin-bottom: 16px;
}

.stickyBtnWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  z-index: 999;
  /* background: #0d0d0d; */
}

.stickyBtn {
  width: 100%;
  background-color: #e72d38;
  color: white;
  border: none;
  border-radius: 100px;
  /* padding: 14px; */
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  font-family: "AvenirPro-md";
  font-weight: 500;
}

.stickyBtnLoading {
  width: 100%;
  /* background-color: #e72d38; */
  background-color: #fa9096;
  /* opacity: 0.; */
  border: none;
  border-radius: 100px;
  /* padding: 14px; */
  height: 48px;
  font-size: 20px;
  font-family: "AvenirPro-md";
  font-weight: 500;
}

.nw_logo {
  border-radius: 50%;
  border: 1.6px solid #909090;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.verified_icon {
  margin-top: 2.5px;
}

.submit_button_spinner {
  border-width: 2px !important;
  color: #ffffff !important;
  height: 20px !important;
  width: 20px !important;
  opacity: 1 !important;
}



@media (min-width: 500px) {
  .stickyBtnWrapper {
    width: 375px;
    left: 50%;
    transform: translateX(-50%);
  }
}
