@font-face {
  font-family: "AvenirPro-medium";
  src: url("../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}

.loader_bg {
  position: absolute;
//   top: 0;
//   left: 0;
  z-index: 999999;
  height: 100vh;
  // background-color: #0d0d0dba;
  background-color: rgba(0,0,0,0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); // ✅ Perfect centering
  width: 100%;
  // max-width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.loader_icon {
  display: flex;
  align-items: center;
  gap: 6px;
}
.submit_button_spinner {
  border-width: 2px !important;
  color: #ff2130 !important;
  height: 20px !important;
  width: 20px !important;
}

.loading_text {
  font-size: 16px;
  font-family: "AvenirPro-medium";
  color: white;
}

@media (max-width: 500px) {
    .loader_bg{
        max-width: 500px;
        width: 100%;
    }
}